<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    table th, table td {padding: 5px;}
</style>
<head>
    <meta charset="utf-8">
    <title>Books</title>
</head>
<body>
<div>
    <h2>Books</h2>
    <table border="1">
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Pages</th>
            <th>Edit</th>
<!--                    <th>Delete</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.pages}"></td>
            <td><a th:href="@{/edit(id=${book.id})}">EDIT</a></td>
<!--                    <td><a th:href="@{/delete/{id}(id=${list.id})}" >DELETE</a></td>-->
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>