<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Detail</title>
</head>
<body>
  <h2>List Order Detail</h2>
  <div>
    <h1>test</h1>
    <h2>Books</h2>
    <table border="1">

      <div th:each="detail : ${details}">
        <div th:text="${detail.id}"></div>
        <ul>
          <div th:each="book : ${detail.getBooksList()}">
            <li th:text="${book.title}"></li>
            <li th:text="${book.price}"></li>
          </div>
        </ul>
      </div>
    </table>
  </div>
</body>
</html>